*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}
body{
    background-color: rgb(255, 255, 255);

}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: sticky;
    top: 0 ;
    background-color: rgb(255, 255, 255);
}
.nav-header{
    display: flex;
    width: 100%;    
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    opacity: 3;
    padding-top: 15px;
}
.logo-nombre{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.img-log{
    width: 80px;
    height: 80px;
}


.contenedor-redes-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.lista-redes{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
li{
    list-style: none;
}

.buscador-menu{
    display: flex;
    gap: 5px;
}
/* main{
    /* align-items: center;
    justify-content: center;
    flex-direction: column; */

.body-collage-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.collage-fotos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contenedor-colum{
    display: flex;
    flex-direction: column;
    margin: 5px;
    gap: 10px;
}

#img-collage-colum1{
    width: 200px;
    height: 200px;
    overflow:hidden;
}
#img-collage-colum2{
    width: 200px;
    height: 150px;

}
.contenedor-colum2{
    display: flex;
    flex-direction: column;
}
.contenedor-row{
    display: flex;
    flex-direction: row;
    margin: 5px;
    gap: 10px;

}
.imagenes-row{
    width: 150px;
    height: 150px;
}
#imagen-extensa-colum2{
    width: 95%;
    height: 90%;
    padding: 5px;
    overflow-anchor: hidden;

}
.lugares-publicidad{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    gap: 20px;

    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr; */
}
.lugares-recomendados{
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 20px;
}
.card-lugar{
    display:flex;
    flex-direction: row;
    border-top: 2px solid #79FF39;
    padding-top:20px ;
    margin-left: 10px;
    gap: 20px;

}
.card-lugares-contenido{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fecha-leer-mas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h1{
    color: #FF39BE;
}
.publicidad{
    display: flex;
    flex-direction: column;
}
.publicidad-columna{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2{
    color: #526DFF;
}
footer{
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
}
.contactar-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

@media screen and (max-width: 600px ){
    .collage-fotos{
        background-color: #FF39BE;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .collage-fotos div{
        width: 100%;
    }
}